
Functional requirements for ATM

Description:
Initialize parameters
If no cash card is in the ATM, the system should display initial display.
If the ATM is running out of money, no card should be accepted. An error message is
displayed.
The ATM has to check if the entered card is a valid cash-card.

Input:
A card is entered.
Customer enters the cash card.
Valid cash card
Serial number from cash card

Processing:
Storing the parameters
The amount of cash is less than
Check if it is a valid cash card. It will be valid if
1. the information on the card can be read.
2. it is not expired.
Read the serial number.

OUTPUT:
Parameters are set.
Display an error message and return the card.
start transcation dialog


